<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krishisetu</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- <img width="24" height="24" src="https://img.icons8.com/material-outlined/24/online-support.png" alt="online-support"/> -->
</head>

<body>
    <div class="main">
        <div class="nav">
            <span class="logo">Krishisetu</span>
            <div class="nav-elements">
                <span class="nav-icon"><a href="/home/track"><i class="ri-line-chart-line"></i>Track</a></span>
                <span class="nav-icon"><a href=""><i class="ri-verified-badge-line"></i>Eligibility</a></span>
                <span class="nav-icon"><a href=""><i class="ri-money-rupee-circle-line"></i>Claims</a></span>
                <span class="nav-icon"><a href="/home/contact"><i class="ri-user-voice-line"></i>Support</a></span>
            </div>
            <button class="login">Login</button>
        </div>
        <div class="get-started">
            <span class="img1">
            </span>
            <img class="img1" height="170px" src="Images/image.png" alt="">
            <span class="getmsg">CROP INSURANCE MADE EASY</span>
            <button class="getbtn">Get Started</button>
        </div>
        <div class="show-opt">
            <div class="card">
                <span class="card-icons"><i class="ri-calendar-line"></i></span>
                <span class="card-about">Track KCC</span>
                <p>Find the Status and Key Dates of Your Kisan Credit Card</p>
            </div>
            <div class="card">
                <span class="card-icons"><i class="ri-verified-badge-line"></i></span>
                <span class="card-about">Check Eligibility</span>
                <p>Verity your eligibility for PMFBY crop insurance</p>
            </div>
            <a href="/home/weather">
                <div class="card">
                    <span class="card-icons"><i class="ri-heavy-showers-line"></i></span>
                    <span class="card-about">Weather Data</span>
                    <p>Access weather informa-tion for your location</p>
                </div>
            </a>
        </div>
    </div>
</body>

</html>